.u-section-1 .u-sheet-1 {
  min-height: 690px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 666px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 29px;
}

.u-section-1 .u-text-1 {
  font-size: 4.0625rem;
  font-weight: 700;
  margin: 81px 91px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 26px 59px 0 1px;
}

.u-section-1 .u-image-1 {
  min-height: 666px;
  background-image: url("images/i1nternet-vpn-security-3d-illustration-free-png.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(20% - 8px);
  grid-template-columns: repeat(5, calc(20% - 8px));
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: linear-gradient(37deg, #00fffb, #1378e0);
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 4px;
}

.u-section-1 .u-image-2 {
  height: 216px;
  margin-top: 52px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: linear-gradient(37deg, #00fffb, #1378e0);
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 4px;
}

.u-section-1 .u-image-3 {
  height: 216px;
  margin-top: 52px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: linear-gradient(37deg, #00fffb, #1378e0);
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 4px;
}

.u-section-1 .u-image-4 {
  height: 216px;
  margin-top: 52px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: linear-gradient(37deg, #00fffb, #1378e0);
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 4px;
}

.u-section-1 .u-image-5 {
  height: 216px;
  margin-top: 52px;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-5 {
  background-image: linear-gradient(37deg, #00fffb, #1378e0);
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 4px;
}

.u-section-1 .u-image-6 {
  height: 216px;
  margin-top: 52px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 549px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-right: 126px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 549px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 174px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 174px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    height: 174px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    height: 174px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    height: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1175px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 0;
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 120px;
    padding-left: 100px;
  }

  .u-section-1 .u-image-1 {
    order: 1;
    min-height: 730px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
  }

  .u-section-1 .u-image-2 {
    height: 228px;
  }

  .u-section-1 .u-image-3 {
    height: 228px;
  }

  .u-section-1 .u-image-4 {
    height: 228px;
  }

  .u-section-1 .u-image-5 {
    height: 228px;
  }

  .u-section-1 .u-image-6 {
    height: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 548px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-1 .u-image-2 {
    height: 259px;
  }

  .u-section-1 .u-image-3 {
    height: 259px;
  }

  .u-section-1 .u-image-4 {
    height: 259px;
  }

  .u-section-1 .u-image-5 {
    height: 259px;
  }

  .u-section-1 .u-image-6 {
    height: 259px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 345px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-2 {
    height: 332px;
  }

  .u-section-1 .u-image-3 {
    height: 332px;
  }

  .u-section-1 .u-image-4 {
    height: 332px;
  }

  .u-section-1 .u-image-5 {
    height: 332px;
  }

  .u-section-1 .u-image-6 {
    height: 332px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2295px;
}

.u-section-2 .u-text-1 {
  font-size: 2.9375rem;
  font-weight: 600;
  margin: 50px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 10px 96px 0;
}

.u-section-2 .u-group-1 {
  background-image: linear-gradient(to right, #375a7b, rgba(83,137,169,0.5));
  min-height: 649px;
  height: auto;
  margin-top: 52px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-list-1 {
  width: 920px;
  margin: 30px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 433px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 63px auto 0;
}

.u-section-2 .u-image-1 {
  width: 263px;
  height: 263px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 63px auto 0;
}

.u-section-2 .u-image-2 {
  width: 263px;
  height: 263px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 63px auto 0;
}

.u-section-2 .u-image-3 {
  width: 263px;
  height: 263px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 500;
  margin: 77px 0 0 867px;
}

.u-section-2 .u-shape-1 {
  width: 62px;
  height: 19px;
  background-image: none;
  margin: -20px auto 1px 804px;
}

.u-section-2 .u-group-2 {
  background-image: linear-gradient(to right, #375a7b, rgba(83,137,169,0.5));
  min-height: 648px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-list-2 {
  width: 920px;
  margin: 30px auto 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 433px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 47px auto 0;
}

.u-section-2 .u-image-4 {
  width: 247px;
  height: 247px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 47px auto 0;
}

.u-section-2 .u-image-5 {
  width: 247px;
  height: 247px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-text-11 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 47px auto 0;
}

.u-section-2 .u-image-6 {
  width: 247px;
  height: 247px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-12 {
  font-weight: 500;
  margin: 75px 0 0 867px;
}

.u-section-2 .u-shape-2 {
  width: 62px;
  height: 19px;
  background-image: none;
  margin: -20px auto 1px 804px;
}

.u-section-2 .u-group-3 {
  background-image: linear-gradient(to right, #375a7b, rgba(83,137,169,0.5));
  min-height: 648px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-2 .u-text-13 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 1px 76px 0;
}

.u-section-2 .u-list-3 {
  width: 920px;
  margin: 30px auto 0;
}

.u-section-2 .u-repeater-3 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 433px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-text-14 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 47px auto 0;
}

.u-section-2 .u-image-7 {
  width: 247px;
  height: 247px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-text-15 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 47px auto 0;
}

.u-section-2 .u-image-8 {
  width: 247px;
  height: 247px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 0;
}

.u-section-2 .u-text-16 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 47px auto 0;
}

.u-section-2 .u-image-9 {
  width: 247px;
  height: 247px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-17 {
  font-weight: 500;
  margin: 75px 0 0 906px;
}

.u-section-2 .u-shape-3 {
  width: 62px;
  height: 19px;
  background-image: none;
  margin: -20px auto 1px 834px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 907px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 667px;
    height: auto;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    min-height: 352px;
    width: 880px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 414px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 62px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 62px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 62px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: 95px;
    margin-left: 572px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 14px;
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    min-height: 668px;
    height: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: 1px;
  }

  .u-section-2 .u-list-2 {
    width: 880px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 414px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-right: 129px;
    margin-left: 538px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-3 {
    width: 900px;
  }

  .u-section-2 .u-repeater-3 {
    min-height: 423px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 706px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 660px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 949px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 447px;
  }

  .u-section-2 .u-list-2 {
    width: 660px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 949px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 19px;
    margin-left: 428px;
  }

  .u-section-2 .u-list-3 {
    width: 680px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-text-17 {
    margin-left: 486px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: -20px;
    margin-left: 618px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    width: 520px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-7 {
    margin-left: 307px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    width: 520px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 307px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-3 {
    width: 520px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-17 {
    margin-left: 326px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 458px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 320px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 107px;
  }

  .u-section-2 .u-list-2 {
    width: 320px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 107px;
  }

  .u-section-2 .u-list-3 {
    width: 320px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 126px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 258px;
  }
} .u-section-3 {
  background-image: linear-gradient(#215074, #3374a7);
}

.u-section-3 .u-sheet-1 {
  min-height: 1013px;
}

.u-section-3 .u-text-1 {
  font-size: 2.9375rem;
  font-weight: 600;
  margin: 60px 0 0;
}

.u-section-3 .u-group-1 {
  background-image: none;
  min-height: 709px;
  height: auto;
  margin-top: 43px;
  margin-bottom: 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 29px 0 28px;
}

.u-section-3 .u-image-1 {
  height: 545px;
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 500;
  margin: 68px 153px 0 920px;
}

.u-section-3 .u-text-3 {
  font-weight: 500;
  margin: -20px 345px 0 563px;
}

.u-section-3 .u-text-4 {
  font-weight: 500;
  margin: -20px 702px 0 225px;
}

.u-section-3 .u-shape-1 {
  width: 62px;
  height: 19px;
  background-image: none;
  margin: -21px auto 0 153px;
}

.u-section-3 .u-shape-2 {
  width: 62px;
  height: 19px;
  background-image: none;
  margin: -19px auto 0 490px;
}

.u-section-3 .u-shape-3 {
  width: 62px;
  height: 19px;
  background-image: none;
  margin: -19px auto 2px 847px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 907px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-image-1 {
    height: 450px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 100px;
    margin-left: 773px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 292px;
    margin-left: 416px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 649px;
    margin-left: 78px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 20px;
    margin-left: 106px;
  }

  .u-section-3 .u-shape-2 {
    margin-left: 443px;
  }

  .u-section-3 .u-shape-3 {
    margin-left: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    height: 345px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 8px;
    margin-left: 646px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 143px;
    margin-left: 346px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 500px;
    margin-left: 8px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -21px;
    margin-left: 146px;
  }

  .u-section-3 .u-shape-2 {
    margin-left: 483px;
  }

  .u-section-3 .u-shape-3 {
    margin-left: 651px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    height: 259px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 45px;
    margin-left: 263px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 327px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 153px;
  }

  .u-section-3 .u-shape-2 {
    margin-left: 478px;
  }

  .u-section-3 .u-shape-3 {
    margin-left: 478px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 163px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 273px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 108px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 127px;
  }

  .u-section-3 .u-shape-2 {
    margin-left: 278px;
  }

  .u-section-3 .u-shape-3 {
    margin-left: 278px;
  }
} .u-section-4 {
  background-image: linear-gradient(#215074, #3374a7);
}

.u-section-4 .u-sheet-1 {
  min-height: 1258px;
}

.u-section-4 .u-text-1 {
  font-size: 2.9375rem;
  font-weight: 600;
  margin: 50px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 10px 0 0;
}

.u-section-4 .u-group-1 {
  background-image: linear-gradient(to right, #375a7b, #356784);
  min-height: 973px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 28px 0 0;
}

.u-section-4 .u-image-1 {
  width: 521px;
  height: 699px;
  margin: 109px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 137px 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 0px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 17px;
    margin-right: 17px;
    width: 907px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-list-1 {
    margin-top: 4108px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 3970px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 3549px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 506px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 456px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 3659px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-5 {
  background-image: linear-gradient(#215074, #3374a7);
}

.u-section-5 .u-sheet-1 {
  min-height: 1361px;
}

.u-section-5 .u-text-1 {
  font-size: 2.9375rem;
  font-weight: 600;
  margin: 50px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 10px 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 75px 96px 0;
}

.u-section-5 .u-tabs-1 {
  min-height: 1043px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 22px 25px;
}

.u-section-5 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 22px 25px;
}

.u-section-5 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 22px 25px;
}

.u-section-5 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-5 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 22px 25px;
}

.u-section-5 .u-tab-link-5 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 22px 25px;
}

.u-section-5 .u-tab-link-6 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 22px 25px;
}

.u-section-5 .u-tab-link-7 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 22px 25px;
}

.u-section-5 .u-tab-link-8 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 22px 25px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-5 .u-list-1 {
  width: 393px;
  margin: 47px auto 0 56px;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 0px;
}

.u-section-5 .u-image-1 {
  width: 1098px;
  height: 675px;
  margin: 0 auto 0 21px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-5 .u-image-2 {
  width: 1098px;
  height: 675px;
  margin: 0 -8px 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-5 .u-image-3 {
  width: 1098px;
  height: 675px;
  margin: 0 -8px 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 25px;
}

.u-section-5 .u-image-4 {
  width: 1098px;
  height: 675px;
  margin: 0 -8px 0 auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  width: 1098px;
  height: 675px;
  margin: 0 -18px 0 auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-image-6 {
  width: 1098px;
  height: 675px;
  margin: 0 -18px 0 auto;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-image-7 {
  width: 1098px;
  height: 675px;
  margin: 0 -18px 0 auto;
}

.u-section-5 .u-container-layout-8 {
  padding: 0;
}

.u-section-5 .u-table-1 {
  width: 1140px;
  margin: 21px 0 0;
}

.u-section-5 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-5 .u-table-cell-1 {
  background-image: none;
}

.u-section-5 .u-table-cell-2 {
  background-image: none;
}

.u-section-5 .u-table-cell-3 {
  background-image: none;
}

.u-section-5 .u-table-cell-4 {
  background-image: none;
}

.u-section-5 .u-table-cell-5 {
  background-image: none;
}

.u-section-5 .u-table-cell-6 {
  background-image: none;
}

.u-section-5 .u-table-cell-7 {
  background-image: none;
}

.u-section-5 .u-table-cell-8 {
  background-image: none;
}

.u-section-5 .u-table-cell-9 {
  background-image: none;
}

.u-section-5 .u-table-body-1 {
  background-image: none;
}

.u-section-5 .u-table-cell-10 {
  background-image: none;
  font-weight: 700;
}

.u-section-5 .u-table-cell-11 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-12 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-13 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-14 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-19 {
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-20 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-21 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-28 {
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-29 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-30 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-37 {
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-38 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-39 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-46 {
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-47 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-48 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-54 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-55 {
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-56 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-57 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-63 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-64 {
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-65 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-66 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-73 {
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-74 {
  font-weight: 500;
}

.u-section-5 .u-table-cell-75 {
  font-weight: 500;
}

.u-block-9371-104 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 578px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    width: 890px;
    height: 547px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    width: 890px;
    height: 547px;
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    width: 890px;
    height: 547px;
    margin-right: 0;
  }

  .u-section-5 .u-image-5 {
    width: 880px;
    height: 541px;
    margin-right: 0;
  }

  .u-section-5 .u-image-6 {
    width: 880px;
    height: 541px;
    margin-right: 0;
  }

  .u-section-5 .u-image-7 {
    width: 880px;
    height: 541px;
    margin-right: 0;
  }

  .u-section-5 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 443px;
  }

  .u-section-5 .u-image-2 {
    width: 670px;
    height: 412px;
  }

  .u-section-5 .u-image-3 {
    width: 670px;
    height: 412px;
  }

  .u-section-5 .u-image-4 {
    width: 670px;
    height: 412px;
  }

  .u-section-5 .u-image-5 {
    width: 660px;
    height: 406px;
  }

  .u-section-5 .u-image-6 {
    width: 660px;
    height: 406px;
  }

  .u-section-5 .u-image-7 {
    width: 660px;
    height: 406px;
  }

  .u-section-5 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-5 .u-tab-link-4 {
    font-size: 1rem;
  }

  .u-section-5 .u-tab-link-5 {
    font-size: 1rem;
  }

  .u-section-5 .u-tab-link-6 {
    font-size: 1rem;
  }

  .u-section-5 .u-tab-link-7 {
    font-size: 1rem;
  }

  .u-section-5 .u-tab-link-8 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 332px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    width: 520px;
    height: 320px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    width: 520px;
    height: 320px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    width: 520px;
    height: 320px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    width: 520px;
    height: 320px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-6 {
    width: 520px;
    height: 320px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-7 {
    width: 520px;
    height: 320px;
  }

  .u-section-5 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 209px;
  }

  .u-section-5 .u-image-2 {
    width: 320px;
    height: 197px;
  }

  .u-section-5 .u-image-3 {
    width: 320px;
    height: 197px;
  }

  .u-section-5 .u-image-4 {
    width: 320px;
    height: 197px;
  }

  .u-section-5 .u-image-5 {
    width: 320px;
    height: 197px;
  }

  .u-section-5 .u-image-6 {
    width: 320px;
    height: 197px;
  }

  .u-section-5 .u-image-7 {
    width: 320px;
    height: 197px;
  }

  .u-section-5 .u-table-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: linear-gradient(#215074, #3374a7);
}

.u-section-6 .u-sheet-1 {
  min-height: 1282px;
}

.u-section-6 .u-text-1 {
  font-size: 2.9375rem;
  font-weight: 600;
  margin: 50px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 10px 0 0;
}

.u-section-6 .u-group-1 {
  background-image: linear-gradient(to right, #375a7b, #356784);
  min-height: 973px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-6 .u-container-layout-1 {
  padding: 28px 0 0;
}

.u-section-6 .u-list-1 {
  margin: 945px 0 0;
}

.u-section-6 .u-repeater-1 {
  grid-gap: 0px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-list-1 {
    margin-top: 4108px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    margin-top: 3970px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    margin-top: 3549px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-list-1 {
    margin-top: 3659px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-7 .u-text-1 {
  font-size: 2.9375rem;
  font-weight: 600;
  margin: 50px 0 0;
}

.u-section-7 .u-image-1 {
  width: 749px;
  height: 789px;
  margin: 50px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    height: 790px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 759px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 569px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 358px;
  }
} .u-section-8 {
  background-image: linear-gradient(#215074, #3374a7);
}

.u-section-8 .u-sheet-1 {
  min-height: 1191px;
}

.u-section-8 .u-text-1 {
  font-size: 2.9375rem;
  font-weight: 600;
  margin: 50px 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 41px 0 0;
}

.u-section-8 .u-tabs-1 {
  min-height: 234px;
  height: auto;
  margin-top: 26px;
  margin-bottom: 60px;
}

.u-section-8 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 22px 25px;
}

.u-section-8 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 22px 25px;
}

.u-section-8 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 22px 25px;
}

.u-section-8 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 22px 25px;
}

.u-section-8 .u-tab-pane-1 {
  padding: 30px 25px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-list-1 {
  width: 393px;
  margin: 47px auto 0 56px;
}

.u-section-8 .u-repeater-1 {
  grid-gap: 0px;
}

.u-section-8 .u-group-1 {
  background-image: none;
  min-height: 649px;
  height: auto;
  width: 1140px;
  margin: -43px -5px 0 auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-list-2 {
  width: 959px;
  margin: 0 auto;
}

.u-section-8 .u-repeater-2 {
  grid-gap: 0px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: none;
  margin: 0 220px 0 679px;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.875rem;
  text-transform: none;
  margin: -36px 461px 0 407px;
}

.u-section-8 .u-group-2 {
  margin-top: 16px;
  margin-bottom: 0;
  min-height: 120px;
  height: auto;
  width: 100%;
}

.u-section-8 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-8 .u-image-1 {
  width: 87px;
  height: 87px;
  margin: 16px 292px 0 auto;
}

.u-section-8 .u-image-2 {
  width: 87px;
  height: 87px;
  margin: -87px auto 0 500px;
}

.u-section-8 .u-text-5 {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  margin: -58px 789px 0 0;
}

.u-section-8 .u-group-3 {
  margin-top: 10px;
  margin-bottom: 0;
  min-height: 120px;
  height: auto;
  width: 100%;
}

.u-section-8 .u-container-layout-4 {
  padding: 11px 0;
}

.u-section-8 .u-image-3 {
  width: 87px;
  height: 87px;
  margin: 5px 292px 0 auto;
}

.u-section-8 .u-image-4 {
  width: 87px;
  height: 87px;
  margin: -87px auto 0 500px;
}

.u-section-8 .u-text-6 {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  margin: -58px 789px 0 0;
}

.u-section-8 .u-group-4 {
  margin-top: 10px;
  margin-bottom: 0;
  min-height: 120px;
  height: auto;
  width: 100%;
}

.u-section-8 .u-container-layout-5 {
  padding: 11px 0;
}

.u-section-8 .u-image-5 {
  width: 87px;
  height: 87px;
  margin: 5px 292px 0 auto;
}

.u-section-8 .u-image-6 {
  width: 87px;
  height: 87px;
  margin: -87px auto 0 500px;
}

.u-section-8 .u-text-7 {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  margin: -58px 789px 0 0;
}

.u-section-8 .u-group-5 {
  margin-top: 10px;
  margin-bottom: 0;
  min-height: 120px;
  height: auto;
  width: 100%;
}

.u-section-8 .u-container-layout-6 {
  padding: 11px 0;
}

.u-section-8 .u-image-7 {
  width: 87px;
  height: 87px;
  margin: 5px 292px 0 auto;
}

.u-section-8 .u-image-8 {
  width: 87px;
  height: 87px;
  margin: -87px auto 0 500px;
}

.u-section-8 .u-text-8 {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.5rem;
  margin: -58px 789px 0 0;
}

.u-section-8 .u-tab-pane-2 {
  padding: 30px 25px;
}

.u-section-8 .u-container-layout-7 {
  padding: 0 25px;
}

.u-section-8 .u-tab-pane-3 {
  padding: 30px 25px;
}

.u-section-8 .u-container-layout-8 {
  padding: 0 25px;
}

.u-section-8 .u-tab-pane-4 {
  padding: 30px 25px;
}

.u-section-8 .u-container-layout-9 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-8 .u-group-1 {
    width: 890px;
    margin-right: 0;
    height: auto;
  }

  .u-section-8 .u-list-2 {
    width: 940px;
  }

  .u-section-8 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-8 .u-text-3 {
    margin-top: 20px;
    margin-right: 95px;
    margin-left: 554px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 336px;
    margin-left: 282px;
  }

  .u-section-8 .u-group-2 {
    margin-top: 29px;
    height: auto;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-8 .u-image-1 {
    margin-right: 13px;
  }

  .u-section-8 .u-image-2 {
    margin-left: 13px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-8 .u-group-3 {
    height: auto;
  }

  .u-section-8 .u-image-3 {
    margin-right: 13px;
  }

  .u-section-8 .u-image-4 {
    margin-left: 13px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-8 .u-group-4 {
    height: auto;
  }

  .u-section-8 .u-image-5 {
    margin-right: 13px;
  }

  .u-section-8 .u-image-6 {
    margin-left: 13px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-8 .u-group-5 {
    height: auto;
  }

  .u-section-8 .u-image-7 {
    margin-right: 13px;
  }

  .u-section-8 .u-image-8 {
    margin-left: 13px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-tabs-1 {
    margin-top: 412px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-8 .u-group-1 {
    width: 670px;
    margin-top: -493px;
  }

  .u-section-8 .u-list-2 {
    width: 720px;
  }

  .u-section-8 .u-repeater-2 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 429px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 226px;
    margin-left: 172px;
  }

  .u-section-8 .u-text-5 {
    margin-top: -58px;
  }

  .u-section-8 .u-text-6 {
    margin-top: -58px;
  }

  .u-section-8 .u-text-7 {
    margin-top: -58px;
  }

  .u-section-8 .u-text-8 {
    margin-top: -58px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-8 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-8 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-8 .u-tab-link-4 {
    font-size: 1rem;
  }

  .u-section-8 .u-group-1 {
    width: 490px;
    margin-top: -474px;
  }

  .u-section-8 .u-list-2 {
    width: 540px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 299px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 161px;
    margin-left: 107px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-tab-pane-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-list-1 {
    width: 320px;
    margin-left: 0;
  }

  .u-section-8 .u-group-1 {
    width: 290px;
    margin-top: -576px;
  }

  .u-section-8 .u-list-2 {
    width: 340px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 99px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 7px;
    margin-right: 61px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1282px;
}

.u-section-9 .u-text-1 {
  font-size: 2.9375rem;
  font-weight: 600;
  margin: 50px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 10px 0 60px;
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }
}